<h1>Getting Started &mdash; Step 3 of 4</h1>

<h2>Network Configuration: <%= @interface.name -%></h2>

<%= form_tag %>

<table class="system" style="width: auto;">

  <tr>
    <th>Property</th>
    <th>Value</th>
  </tr>

  <tr id="dhcp_setting">
    <td>DHCP</td>
    <td style="text-align: left;">
      <label for="interface_dhcp_true" class="none">
        <%= radio_button "interface", "dhcp", "true",  { :onclick =>
           "$('interface_ip').disabled = true; 
            $('interface_netmask').disabled = true;
            $('interface_default_route').disabled = true;"
          } %> Enabled</label>
      <label for="interface_dhcp_false" class="none">
        <%= radio_button "interface", "dhcp", "false", { :onclick => 
          "$('interface_ip').disabled = false;
           $('interface_netmask').disabled = false;
           $('interface_default_route').disabled = false;" 
        } %> Disabled</label>
    </td>
  </tr>

  <tr>
    <td>IP Address</td>
    <td><%= ip_address_field(@interface.dhcp) %></td>
  </tr>
  <tr>
    <td>Netmask</td>
    <td><%= netmask_field(@interface.dhcp) %></td>
  </tr>

  <tr>
    <td>Default Gateway</td>
    <td><%= default_route_field(@interface.dhcp) %></td>
  </tr>

  <tr>
    <td>Media, Speed &amp; Duplex</td>
    <td>
      <%= select "interface", "media", @interface.available_media %>
    </td>
  </tr>

</table>

<p>&nbsp;</p>

<h3>DNS Settings</h3>

<table class="system" style="text-align: left;">
  <tr>
    <th>Setting</th>
    <th>Value</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>Nameserver</td>
    <td><input type="text" name="nameservers[0]" value="<%= @dns.nameservers[0] -%>" id="nameserver[0]" /></td>
    <td rowspan="3">A total a 3 name (DNS) servers can be specified. 
      If there are multiple servers, the resolver library queries them in the order listed.</td>
  </tr>
  <tr>
    <td>Nameserver</td>
    <td><input type="text" name="nameservers[1]" value="<%= @dns.nameservers[1] -%>" id="nameserver[1]" /></td>
  </tr>
  <tr>
    <td>Nameserver</td>
    <td><input type="text" name="nameservers[2]" value="<%= @dns.nameservers[2] -%>" id="nameserver[2]" /></td>
  </tr>
  <tr>
    <td>Search</td>
    <td><input type="text" name="search" value="<%= @dns.search -%>" id="search" size="30" /></td>
    <td>Comma separated search list for hostname lookup. The search list is currently limited to six domains with a
            total of 1024 characters.
    </td>
  </tr>
</table>

<p>&nbsp;</p>
<%= submit_tag "Save &amp; Continue", { :id => 'submit' } %>
</form>
