<h2>Greylisted Entries (<%= @greylisted.length %> entries)</h2>

<% unless @greylisted.length.zero? %>

<table class="system">
  <thead>
  <tr>
    <th>Address</th>
    <th>From</th>
    <th>To</th>
    <th>First Seen</th>
  </tr>
  </thead>
  <tbody>
    <% @greylisted.each_with_index do |greylist, index| %>
    <tr id="greylist_<%= index %>">
      <td nowrap="nowrap">
        <%= greylist[:ip] %>
        </td>
      <td><%=h greylist[:from][1..-2] %></td>
      <td><%=h greylist[:to][1..-2] %></td>
      <td nowrap="nowrap"><%= time_ago_in_words(greylist[:time]) %> ago</td>
    </tr>
    <% end %>
  </tbody>
</table>

<% end %>
